Documentation/Node Red/flows_221113.json
[
    {
        "id": "2f3571e7cf8bcd73",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a8867c371ae969a",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "Create container \"room\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "a1efa1ada970ee06",
            "4256e02df7e6e017",
            "b953ed0e89e14f69",
            "43dfe68a15920889"
        ],
        "x": 194,
        "y": 139,
        "w": 792,
        "h": 142
    },
    {
        "id": "94358e51b5b1692d",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "devAir",
        "style": {
            "label": true
        },
        "nodes": [
            "1f9d8519e21e7592",
            "cc48b97fd14589b9"
        ],
        "x": 168,
        "y": 733,
        "w": 764,
        "h": 234
    },
    {
        "id": "4bbd51692a589cde",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "devAct",
        "style": {
            "label": true
        },
        "nodes": [
            "5acf96981e44587f",
            "37c214641babe7ab",
            "4218165ed0ace9ef",
            "eafd93e2430414ed",
            "0a3d4ab3c3594116"
        ],
        "x": 168,
        "y": 299,
        "w": 818,
        "h": 388
    },
    {
        "id": "d862a93f911ddf79",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "devSd",
        "style": {
            "label": true
        },
        "nodes": [
            "61af6396b091a52f",
            "1c6d1e2d3a7c35aa",
            "9f47fa546e60a27c",
            "b8ed9755d127165f",
            "1dece6d442b75f7d"
        ],
        "x": 168,
        "y": 993,
        "w": 764,
        "h": 534
    },
    {
        "id": "55e7775589eebdca",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "devAir",
        "style": {
            "label": true
        },
        "nodes": [
            "1f351e80988039f5"
        ],
        "x": 168,
        "y": 2873,
        "w": 864,
        "h": 194
    },
    {
        "id": "eacfa760a7623e55",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "55631cad25c5797d"
        ],
        "x": 88,
        "y": 2633,
        "w": 1024,
        "h": 234
    },
    {
        "id": "e1b93bbf0e873ac8",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "ROOM 99",
        "style": {
            "label": true
        },
        "nodes": [
            "e0d40f3d1fc49b44",
            "f4128d90f0cd3040",
            "f3df62b8167a1162",
            "f55c06a340179ec0",
            "c1e98d3db10cb6dd",
            "135844c41c349739",
            "a6c1a4e8557b4cf2"
        ],
        "x": 88,
        "y": 1733,
        "w": 1144,
        "h": 434
    },
    {
        "id": "6ad2f663b26ed932",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "ROOM 99",
        "style": {
            "label": true
        },
        "nodes": [
            "65bf4cc14303408c",
            "6fafa577b091fd20"
        ],
        "x": 88,
        "y": 2193,
        "w": 584,
        "h": 234
    },
    {
        "id": "bc720da80899c653",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "Create group gractuator",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "832340a6aeeed870",
            "9ed3f9914785d1e5",
            "1d28ecc48bea3fa0",
            "51831d55f5f696db"
        ],
        "x": 174,
        "y": 1559,
        "w": 812,
        "h": 142
    },
    {
        "id": "2ba52b9c31117af5",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "Create acp \"acr_room\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "4e6e3c7f23ef87f9",
            "c19ff3b210427e4b",
            "0cc49c9edc60702b",
            "12f80edf6b09b031"
        ],
        "x": 194,
        "y": -1,
        "w": 792,
        "h": 122
    },
    {
        "id": "ea83f88ef3ac9154",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "devAir",
        "style": {
            "label": true
        },
        "nodes": [
            "894513dab3ef2f98"
        ],
        "x": 168,
        "y": 3073,
        "w": 864,
        "h": 194
    },
    {
        "id": "5ed91827bacd6bf7",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "MQTT req/resp",
        "style": {
            "fill": "#b797cf",
            "label": true,
            "color": "#ffff00"
        },
        "nodes": [
            "9576522b666d56fb",
            "297d1242a2a9e3c4",
            "88e170e8c58d2fe9",
            "c0b20409203eb9bc"
        ],
        "x": 94,
        "y": 2459,
        "w": 552,
        "h": 162
    },
    {
        "id": "70dc9d1f3d119cf4",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "ROOM 99",
        "style": {
            "label": true
        },
        "nodes": [
            "cf49042e3cd3a8db",
            "fb5a3867f66d1c4b"
        ],
        "x": 1008,
        "y": 453,
        "w": 584,
        "h": 234
    },
    {
        "id": "5a5076c06bbee044",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "Update color: flexcontainer \"devAir/aiQSr\"",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "2b41c3069a173bde",
            "bac40525ca3bf133",
            "3f2a5f44a683c1fe"
        ],
        "x": 954,
        "y": 859,
        "w": 532,
        "h": 82
    },
    {
        "id": "f5e78fbfcd07fc36",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "Create acp \"acr_room\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "4f57cba19408e93d",
            "b09c025c07da7695",
            "36d63048afe93cbc",
            "c69dab92a281bdfd"
        ],
        "x": 1014,
        "y": -1,
        "w": 792,
        "h": 122
    },
    {
        "id": "65bf4cc14303408c",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "6ad2f663b26ed932",
        "name": "Update flexcontainer \"actuator/binSh\" OFF",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "846d3ab9987539cc",
            "1f2eebfbd768f728",
            "98191a87cbfa957a"
        ],
        "x": 114,
        "y": 2219,
        "w": 532,
        "h": 82
    },
    {
        "id": "6fafa577b091fd20",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "6ad2f663b26ed932",
        "name": "Update flexcontainer \"actuator/binSh\" ON",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "cd16a043aa8ffdb6",
            "61a9a9c6da7a0659",
            "c333f958bc1e66c8"
        ],
        "x": 114,
        "y": 2319,
        "w": 532,
        "h": 82
    },
    {
        "id": "37c214641babe7ab",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "4bbd51692a589cde",
        "name": "Create flexcontainer \"actuator\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "6a049d3fbf543529",
            "49b82f584ec7e08f",
            "eb535d636e66268d"
        ],
        "x": 194,
        "y": 379,
        "w": 712,
        "h": 82
    },
    {
        "id": "4218165ed0ace9ef",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "4bbd51692a589cde",
        "name": "Create flexcontainer \"actuator/binSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "3da0339147aca879",
            "c153cfeb790e9858",
            "fa999e8362c3de8a"
        ],
        "x": 194,
        "y": 479,
        "w": 712,
        "h": 82
    },
    {
        "id": "eafd93e2430414ed",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "4bbd51692a589cde",
        "name": "Create flexcontainer \"actuator/sigSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "58c93bb8472726ad",
            "ef823671482b94b0",
            "faed4de5c00b5ded"
        ],
        "x": 194,
        "y": 579,
        "w": 712,
        "h": 82
    },
    {
        "id": "1f9d8519e21e7592",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "94358e51b5b1692d",
        "name": "Create flexcontainer \"devAir\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "0c4ca7885dc56ccf",
            "6d9896e6ab49bb27",
            "2e4fc8d9ed57ccf6"
        ],
        "x": 194,
        "y": 759,
        "w": 712,
        "h": 82
    },
    {
        "id": "cc48b97fd14589b9",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "94358e51b5b1692d",
        "name": "Create flexcontainer \"devAir/aiQSr\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "52a4d498a86123c7",
            "134daf5135f77d66",
            "3bf9f7c905907c4e"
        ],
        "x": 194,
        "y": 859,
        "w": 712,
        "h": 82
    },
    {
        "id": "61af6396b091a52f",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "d862a93f911ddf79",
        "name": "Create flexcontainer \"devSd\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "c9ccaa92a99257a8",
            "3b8aeec5fe156789",
            "07e54bed862c813a"
        ],
        "x": 194,
        "y": 1019,
        "w": 712,
        "h": 82
    },
    {
        "id": "1c6d1e2d3a7c35aa",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "d862a93f911ddf79",
        "name": "Create flexcontainer \"devSd/coSLd\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "d41e2820160d44db",
            "d945c48a43cb8cf6",
            "83f25f6a41324d03"
        ],
        "x": 194,
        "y": 1119,
        "w": 712,
        "h": 82
    },
    {
        "id": "9f47fa546e60a27c",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "d862a93f911ddf79",
        "name": "Create flexcontainer \"devSd/binSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "67202e46a27daf27",
            "4fe9d6af1783bbc5",
            "a5990f48fde4b8a9"
        ],
        "x": 194,
        "y": 1219,
        "w": 712,
        "h": 82
    },
    {
        "id": "b8ed9755d127165f",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "d862a93f911ddf79",
        "name": "Create flexcontainer \"devSd/brigs\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "76413230496c2b3b",
            "2e7d1af9e8b10f1c",
            "5bd17559d830a9d0"
        ],
        "x": 194,
        "y": 1319,
        "w": 712,
        "h": 82
    },
    {
        "id": "1dece6d442b75f7d",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "d862a93f911ddf79",
        "name": "Create flexcontainer \"devSd/sigSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "85e689641ca90df2",
            "d00c60b54c8e77e6",
            "defcd94ee1a0db2c"
        ],
        "x": 194,
        "y": 1419,
        "w": 712,
        "h": 82
    },
    {
        "id": "e0d40f3d1fc49b44",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "e1b93bbf0e873ac8",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to RED",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "e165f869e6e1c515",
            "4aa3e5cad9b2c5c6",
            "67214a8851ff6bc4"
        ],
        "x": 114,
        "y": 1759,
        "w": 532,
        "h": 82
    },
    {
        "id": "f4128d90f0cd3040",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "e1b93bbf0e873ac8",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to ORANGE",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "363b8aac21844286",
            "91ebb02d801c842b",
            "86fbfdf41ebe10a0"
        ],
        "x": 674,
        "y": 1759,
        "w": 532,
        "h": 82
    },
    {
        "id": "f3df62b8167a1162",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "e1b93bbf0e873ac8",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to YELLOW",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "f4fbadb733534102",
            "a278722969a51bfa",
            "8eb4f60c06580caf"
        ],
        "x": 114,
        "y": 1859,
        "w": 532,
        "h": 82
    },
    {
        "id": "f55c06a340179ec0",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "e1b93bbf0e873ac8",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to LIGHT GREEN",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "9b3683d44cc75bef",
            "34b6e0e72bcb6146",
            "b84785249b5d4e01"
        ],
        "x": 674,
        "y": 1859,
        "w": 532,
        "h": 82
    },
    {
        "id": "c1e98d3db10cb6dd",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "e1b93bbf0e873ac8",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to DARK GREEN",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "06615bfab1eba6ae",
            "6b781e5a1373afae",
            "fb570b20923d370c"
        ],
        "x": 114,
        "y": 1959,
        "w": 532,
        "h": 82
    },
    {
        "id": "55631cad25c5797d",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "eacfa760a7623e55",
        "name": "Translation for LED oneM2M to Zigbee",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "984b56d18b1fc630",
            "0c492bb1387fc9c3",
            "99893ff6c02c546d",
            "14af92362d43dfaf",
            "b063c5d091400749",
            "0ed8aeadacd33f89",
            "c36c8cd2f92f78be"
        ],
        "x": 114,
        "y": 2659,
        "w": 972,
        "h": 182
    },
    {
        "id": "135844c41c349739",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "e1b93bbf0e873ac8",
        "name": "Update flexcontainer \"devSd/binSh\" OFF",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "4329efb4263126e4",
            "4e8663f0211ccff9",
            "0315c2aef142f15a"
        ],
        "x": 114,
        "y": 2059,
        "w": 532,
        "h": 82
    },
    {
        "id": "a6c1a4e8557b4cf2",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "e1b93bbf0e873ac8",
        "name": "Update flexcontainer \"devSd/binSh\" ON",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "7487365d3b803c59",
            "299aa578b61c2a73",
            "1a76753446dd3aa2"
        ],
        "x": 674,
        "y": 2059,
        "w": 532,
        "h": 82
    },
    {
        "id": "1f351e80988039f5",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "55e7775589eebdca",
        "name": "Retrieve flexcontainer \"devAir/aiQSr\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "c9f1ca6ab1a7fe0c",
            "8ff2996be1281bd9",
            "84d408ce4edd1b86",
            "ef6f8aea6215059a"
        ],
        "x": 194,
        "y": 2899,
        "w": 812,
        "h": 142
    },
    {
        "id": "894513dab3ef2f98",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "ea83f88ef3ac9154",
        "name": "Update flexcontainer \"devAir/aiQSr\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "0ca0550491d94692",
            "4f78ed823db520b4",
            "20a99cd7e909896c",
            "7353c857f5a386cb"
        ],
        "x": 194,
        "y": 3099,
        "w": 812,
        "h": 142
    },
    {
        "id": "cf49042e3cd3a8db",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "70dc9d1f3d119cf4",
        "name": "Update flexcontainer \"actuator/binSh\" OFF",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "e20d44e744593fe7",
            "292a3eaa59eb46dd",
            "aa6a74c73ed1377b"
        ],
        "x": 1034,
        "y": 479,
        "w": 532,
        "h": 82
    },
    {
        "id": "fb5a3867f66d1c4b",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "g": "70dc9d1f3d119cf4",
        "name": "Update flexcontainer \"actuator/binSh\" ON",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "9b3de641e47a2d33",
            "aacf89ce32322f88",
            "e49e456d5ee51b87"
        ],
        "x": 1034,
        "y": 579,
        "w": 532,
        "h": 82
    },
    {
        "id": "8df2be8e8cead86a",
        "type": "group",
        "z": "2f3571e7cf8bcd73",
        "name": "Retrieve flexcontainer \"aiQSr\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "6af10f7ca0a89501",
            "763a875e12b9d8d3",
            "49508e14c4a8020b"
        ],
        "x": 954,
        "y": 759,
        "w": 712,
        "h": 82
    },
    {
        "id": "a1efa1ada970ee06",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "7a8867c371ae969a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "4256e02df7e6e017"
            ]
        ]
    },
    {
        "id": "4256e02df7e6e017",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "7a8867c371ae969a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"id\":\"ab\",\"srn\":\"as\",\"pc\":{\"m2m:cnt\":{\"acpi\":[\"cse-in/acp_aid\"],\"rn\":\"room97\"}},\"ty\":3}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "b953ed0e89e14f69",
                "43dfe68a15920889"
            ]
        ]
    },
    {
        "id": "b953ed0e89e14f69",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "7a8867c371ae969a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "43dfe68a15920889",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "7a8867c371ae969a",
        "name": "create container",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "6a049d3fbf543529",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "37c214641babe7ab",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "49b82f584ec7e08f"
            ]
        ]
    },
    {
        "id": "49b82f584ec7e08f",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "37c214641babe7ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"room99\",\"to\":\"cse-in/airQualityMonitoring/room99\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:devAct\":{\"acpi\":[\"cse-in/acp_aid\"],\"cnd\":\"org.fhtwmio.common.device.mioDeviceActuator\",\"rn\":\"actuator\"}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "eb535d636e66268d"
            ]
        ]
    },
    {
        "id": "eb535d636e66268d",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "37c214641babe7ab",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "9576522b666d56fb",
        "type": "mqtt in",
        "z": "2f3571e7cf8bcd73",
        "g": "5ed91827bacd6bf7",
        "name": "",
        "topic": "/oneM2M/req/+/id-in/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d109e158f357676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 2500,
        "wires": [
            [
                "297d1242a2a9e3c4"
            ]
        ]
    },
    {
        "id": "297d1242a2a9e3c4",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "5ed91827bacd6bf7",
        "name": "oneM2M req",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 2500,
        "wires": []
    },
    {
        "id": "3da0339147aca879",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "4218165ed0ace9ef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "c153cfeb790e9858"
            ]
        ]
    },
    {
        "id": "c153cfeb790e9858",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "4218165ed0ace9ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"room99\",\"to\":\"cse-in/airQualityMonitoring/room99/actuator\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"acpi\":[\"cse-in/acp_aid\"],\"cnd\":\"org.onem2m.common.moduleclass.binarySwitch\",\"rn\":\"status\",\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 520,
        "wires": [
            [
                "fa999e8362c3de8a"
            ]
        ]
    },
    {
        "id": "fa999e8362c3de8a",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "4218165ed0ace9ef",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "58c93bb8472726ad",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "eafd93e2430414ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "ef823671482b94b0"
            ]
        ]
    },
    {
        "id": "ef823671482b94b0",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "eafd93e2430414ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"room99\",\"to\":\"cse-in/airQualityMonitoring/room99/actuator\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:sigSh\":{\"acpi\":[\"cse-in/acp_aid\"],\"cnd\":\"org.onem2m.common.moduleclass.signalStrength\",\"rn\":\"lqi\",\"lqi\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "faed4de5c00b5ded"
            ]
        ]
    },
    {
        "id": "faed4de5c00b5ded",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "eafd93e2430414ed",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "5acf96981e44587f",
        "type": "comment",
        "z": "2f3571e7cf8bcd73",
        "g": "4bbd51692a589cde",
        "name": "oneM2M TS-0004: \"Service Layer Core Protocol Specification\".",
        "info": "Die nötigen parameter für diese requeste stehen im dokument TS0004",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "0a3d4ab3c3594116",
        "type": "comment",
        "z": "2f3571e7cf8bcd73",
        "g": "4bbd51692a589cde",
        "name": "dokument ts0003 hat uns auf dokument ts0004 hingewiesen",
        "info": "",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "0c4ca7885dc56ccf",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "1f9d8519e21e7592",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 800,
        "wires": [
            [
                "6d9896e6ab49bb27"
            ]
        ]
    },
    {
        "id": "6d9896e6ab49bb27",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "1f9d8519e21e7592",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"room99\",\"to\":\"cse-in/airQualityMonitoring/room99\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:devAir\":{\"acpi\":[\"cse-in/acp_aid\"],\"cnd\":\"org.fhtwmio.common.device.mioDeviceAirQualitySensor\",\"rn\":\"sensor\"}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 800,
        "wires": [
            [
                "2e4fc8d9ed57ccf6"
            ]
        ]
    },
    {
        "id": "2e4fc8d9ed57ccf6",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "1f9d8519e21e7592",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "52a4d498a86123c7",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "cc48b97fd14589b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 900,
        "wires": [
            [
                "134daf5135f77d66"
            ]
        ]
    },
    {
        "id": "134daf5135f77d66",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "cc48b97fd14589b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"room99\",\"to\":\"cse-in/airQualityMonitoring/room99/sensor\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:aiQSr\":{\"acpi\":[\"cse-in/acp_aid\"],\"cnd\":\"org.fhtwmio.common.moduleclass.mioAirqualitySensor\",\"rn\":\"value\",\"co2\":0,\"temp\":0,\"hum\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 900,
        "wires": [
            [
                "3bf9f7c905907c4e"
            ]
        ]
    },
    {
        "id": "3bf9f7c905907c4e",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "cc48b97fd14589b9",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 900,
        "wires": []
    },
    {
        "id": "c9ccaa92a99257a8",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "61af6396b091a52f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "3b8aeec5fe156789"
            ]
        ]
    },
    {
        "id": "3b8aeec5fe156789",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "61af6396b091a52f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:devSd\":{\"acpi\":[\"acp_aid\"],\"cnd\":\"org.fhtwmio.common.device.mioDeviceSmartLed\",\"rn\":\"led\"}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "07e54bed862c813a"
            ]
        ]
    },
    {
        "id": "07e54bed862c813a",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "61af6396b091a52f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d41e2820160d44db",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "1c6d1e2d3a7c35aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "d945c48a43cb8cf6"
            ]
        ]
    },
    {
        "id": "d945c48a43cb8cf6",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "1c6d1e2d3a7c35aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd2112844426584185544\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"acpi\":[\"acp2220620885526915056\"],\"cnd\":\"org.fhtwmio.common.moduleclass.mioColorSmartLed\",\"rn\":\"color\",\"hue\":0,\"sat\":0,\"x\":0,\"y\":0,\"colT\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1160,
        "wires": [
            [
                "83f25f6a41324d03"
            ]
        ]
    },
    {
        "id": "83f25f6a41324d03",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "1c6d1e2d3a7c35aa",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1160,
        "wires": []
    },
    {
        "id": "67202e46a27daf27",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "9f47fa546e60a27c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1260,
        "wires": [
            [
                "4fe9d6af1783bbc5"
            ]
        ]
    },
    {
        "id": "4fe9d6af1783bbc5",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "9f47fa546e60a27c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd2112844426584185544\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"acpi\":[\"acp2220620885526915056\"],\"cnd\":\"org.onem2m.common.moduleclass.binarySwitch\",\"rn\":\"status\",\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1260,
        "wires": [
            [
                "a5990f48fde4b8a9"
            ]
        ]
    },
    {
        "id": "a5990f48fde4b8a9",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "9f47fa546e60a27c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1260,
        "wires": []
    },
    {
        "id": "76413230496c2b3b",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "b8ed9755d127165f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1360,
        "wires": [
            [
                "2e7d1af9e8b10f1c"
            ]
        ]
    },
    {
        "id": "2e7d1af9e8b10f1c",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "b8ed9755d127165f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd2112844426584185544\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:brigs\":{\"acpi\":[\"acp2220620885526915056\"],\"cnd\":\"org.onem2m.common.moduleclass.brightness\",\"rn\":\"brightness\",\"brigs\":254}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1360,
        "wires": [
            [
                "5bd17559d830a9d0"
            ]
        ]
    },
    {
        "id": "5bd17559d830a9d0",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "b8ed9755d127165f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1360,
        "wires": []
    },
    {
        "id": "85e689641ca90df2",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "1dece6d442b75f7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "d00c60b54c8e77e6"
            ]
        ]
    },
    {
        "id": "d00c60b54c8e77e6",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "1dece6d442b75f7d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd2112844426584185544\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:sigSh\":{\"acpi\":[\"acp2220620885526915056\"],\"cnd\":\"org.onem2m.common.moduleclass.signalStrength\",\"rn\":\"lqi\",\"lqi\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1460,
        "wires": [
            [
                "defcd94ee1a0db2c"
            ]
        ]
    },
    {
        "id": "defcd94ee1a0db2c",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "1dece6d442b75f7d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1460,
        "wires": []
    },
    {
        "id": "846d3ab9987539cc",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "65bf4cc14303408c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 2260,
        "wires": [
            [
                "1f2eebfbd768f728"
            ]
        ]
    },
    {
        "id": "1f2eebfbd768f728",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "65bf4cc14303408c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/actuator/status\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2260,
        "wires": [
            [
                "98191a87cbfa957a"
            ]
        ]
    },
    {
        "id": "98191a87cbfa957a",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "65bf4cc14303408c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 570,
        "y": 2260,
        "wires": []
    },
    {
        "id": "cd16a043aa8ffdb6",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "6fafa577b091fd20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 2360,
        "wires": [
            [
                "61a9a9c6da7a0659"
            ]
        ]
    },
    {
        "id": "61a9a9c6da7a0659",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "6fafa577b091fd20",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/actuator/status\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":true}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2360,
        "wires": [
            [
                "c333f958bc1e66c8"
            ]
        ]
    },
    {
        "id": "c333f958bc1e66c8",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "6fafa577b091fd20",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 570,
        "y": 2360,
        "wires": []
    },
    {
        "id": "8f42051c88ee8086",
        "type": "comment",
        "z": "2f3571e7cf8bcd73",
        "name": "create a room",
        "info": "",
        "x": 90,
        "y": 180,
        "wires": []
    },
    {
        "id": "e165f869e6e1c515",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "e0d40f3d1fc49b44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1800,
        "wires": [
            [
                "4aa3e5cad9b2c5c6"
            ]
        ]
    },
    {
        "id": "4aa3e5cad9b2c5c6",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "e0d40f3d1fc49b44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/color\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":3,\"sat\":96,\"x\":0.6307692307692307,\"y\":0.3230769230769231,\"colT\":319}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1800,
        "wires": [
            [
                "67214a8851ff6bc4"
            ]
        ]
    },
    {
        "id": "67214a8851ff6bc4",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "e0d40f3d1fc49b44",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 570,
        "y": 1800,
        "wires": []
    },
    {
        "id": "363b8aac21844286",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "f4128d90f0cd3040",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 1800,
        "wires": [
            [
                "91ebb02d801c842b"
            ]
        ]
    },
    {
        "id": "91ebb02d801c842b",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "f4128d90f0cd3040",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/color\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":12,\"sat\":97,\"x\":0.5945945945945946,\"y\":0.36486486486486486,\"colT\":454}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1800,
        "wires": [
            [
                "86fbfdf41ebe10a0"
            ]
        ]
    },
    {
        "id": "86fbfdf41ebe10a0",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "f4128d90f0cd3040",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1130,
        "y": 1800,
        "wires": []
    },
    {
        "id": "f4fbadb733534102",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "f3df62b8167a1162",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1900,
        "wires": [
            [
                "a278722969a51bfa"
            ]
        ]
    },
    {
        "id": "a278722969a51bfa",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "f3df62b8167a1162",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/color\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":66,\"sat\":93,\"x\":0.41847826086956524,\"y\":0.5054347826086957,\"colT\":255}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1900,
        "wires": [
            [
                "8eb4f60c06580caf"
            ]
        ]
    },
    {
        "id": "8eb4f60c06580caf",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "f3df62b8167a1162",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 570,
        "y": 1900,
        "wires": []
    },
    {
        "id": "9b3683d44cc75bef",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "f55c06a340179ec0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 1900,
        "wires": [
            [
                "34b6e0e72bcb6146"
            ]
        ]
    },
    {
        "id": "34b6e0e72bcb6146",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "f55c06a340179ec0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/color\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":98,\"sat\":93,\"x\":0.3203125,\"y\":0.578125,\"colT\":250}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1900,
        "wires": [
            [
                "b84785249b5d4e01"
            ]
        ]
    },
    {
        "id": "b84785249b5d4e01",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "f55c06a340179ec0",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1130,
        "y": 1900,
        "wires": []
    },
    {
        "id": "06615bfab1eba6ae",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "c1e98d3db10cb6dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 2000,
        "wires": [
            [
                "6b781e5a1373afae"
            ]
        ]
    },
    {
        "id": "6b781e5a1373afae",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "c1e98d3db10cb6dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/color\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":104,\"sat\":93,\"x\":0.2962962962962963,\"y\":0.5925925925925926,\"colT\":250}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2000,
        "wires": [
            [
                "fb570b20923d370c"
            ]
        ]
    },
    {
        "id": "fb570b20923d370c",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "c1e98d3db10cb6dd",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 570,
        "y": 2000,
        "wires": []
    },
    {
        "id": "984b56d18b1fc630",
        "type": "mqtt in",
        "z": "2f3571e7cf8bcd73",
        "g": "55631cad25c5797d",
        "name": "",
        "topic": "/oneM2M/resp/aqm/id-in/json",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7d109e158f357676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 2700,
        "wires": [
            [
                "b063c5d091400749"
            ]
        ]
    },
    {
        "id": "0c492bb1387fc9c3",
        "type": "function",
        "z": "2f3571e7cf8bcd73",
        "g": "55631cad25c5797d",
        "name": "functions",
        "func": "var binSh = msg.payload.binSh;\nvar coSLd = msg.payload.coSLd;\nvar aiQSr = msg.payload.aiQsr;\nvar binSh_ri_led2 = \"binSh1157307443041598506\";\nvar coSld_ri_led2 = \"coSLd4567033542943111575\";\nvar binSh_ri_led1 = \"binShled1\";\nvar coSld_ri_led1 = \"coSLdled1\";\nvar binSh_ri_actuator1 = \"binSh8568077017303683669\";\nvar binSh_ri_actuator2 = \"binShact2\";\nmsg.payload = {}\n\nif (binSh) {\n    if (binSh.ri === binSh_ri_led2) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n            msg.topic = \"zigbee2mqtt/led2/set\"\n        } else\n            msg.payload.state = \"off\"\n            msg.topic = \"zigbee2mqtt/led2/set\"\n    }\n    if (binSh.ri === binSh_ri_led1) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n            msg.topic = \"zigbee2mqtt/led1/set\"\n        } else\n            msg.payload.state = \"off\"\n            msg.topic = \"zigbee2mqtt/led1/set\"\n    }\n    if (binSh.ri === binSh_ri_actuator1) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n            msg.topic = \"zigbee2mqtt/actuator1/set\"\n        } else\n            msg.payload.state = \"off\"\n            msg.topic = \"zigbee2mqtt/actuator1/set\"\n    }\n    if (binSh.ri === binSh_ri_actuator2) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n            msg.topic = \"zigbee2mqtt/actuator2/set\"\n        } else\n            msg.payload.state = \"off\"\n            msg.topic = \"zigbee2mqtt/actuator2/set\"\n    }\n}\n\nif (coSLd) {\n    if (coSLd.ri === coSld_ri_led2) {\n        msg.payload.color = {}\n        msg.payload.color.hue = coSLd.hue\n        msg.payload.color.saturation = coSLd.sat\n        msg.payload.color.x = coSLd.x\n        msg.payload.color.y = coSLd.y\n        msg.payload.color_temp = coSLd.colT\n        msg.topic = \"zigbee2mqtt/led2/set\"\n    }\n    if (coSLd.ri === coSld_ri_led1) {\n        msg.payload.color = {}\n        msg.payload.color.hue = coSLd.hue\n        msg.payload.color.saturation = coSLd.sat\n        msg.payload.color.x = coSLd.x\n        msg.payload.color.y = coSLd.y\n        msg.payload.color_temp = coSLd.colT\n        msg.topic = \"zigbee2mqtt/led1/set\"\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2700,
        "wires": [
            [
                "0ed8aeadacd33f89"
            ]
        ]
    },
    {
        "id": "99893ff6c02c546d",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "55631cad25c5797d",
        "name": "convert to zigbee false",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2760,
        "wires": []
    },
    {
        "id": "14af92362d43dfaf",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "55631cad25c5797d",
        "name": "mqtt out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1000,
        "y": 2700,
        "wires": []
    },
    {
        "id": "b063c5d091400749",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "55631cad25c5797d",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.pc.cod:binSh",
                "pt": "msg",
                "to": "payload.binSh",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.pc.mio:coSLd",
                "pt": "msg",
                "to": "payload.coSLd",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.pc",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2700,
        "wires": [
            [
                "0c492bb1387fc9c3",
                "147832841b620c3d"
            ]
        ]
    },
    {
        "id": "4329efb4263126e4",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "135844c41c349739",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 2100,
        "wires": [
            [
                "4e8663f0211ccff9"
            ]
        ]
    },
    {
        "id": "4e8663f0211ccff9",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "135844c41c349739",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/status\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2100,
        "wires": [
            [
                "0315c2aef142f15a"
            ]
        ]
    },
    {
        "id": "0315c2aef142f15a",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "135844c41c349739",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 570,
        "y": 2100,
        "wires": []
    },
    {
        "id": "7487365d3b803c59",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "a6c1a4e8557b4cf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 2100,
        "wires": [
            [
                "299aa578b61c2a73"
            ]
        ]
    },
    {
        "id": "299aa578b61c2a73",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "a6c1a4e8557b4cf2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/status\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":true}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2100,
        "wires": [
            [
                "1a76753446dd3aa2"
            ]
        ]
    },
    {
        "id": "1a76753446dd3aa2",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "a6c1a4e8557b4cf2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1130,
        "y": 2100,
        "wires": []
    },
    {
        "id": "88e170e8c58d2fe9",
        "type": "mqtt in",
        "z": "2f3571e7cf8bcd73",
        "g": "5ed91827bacd6bf7",
        "name": "",
        "topic": "/oneM2M/resp/aqm/id-in/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d109e158f357676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 2580,
        "wires": [
            [
                "c0b20409203eb9bc"
            ]
        ]
    },
    {
        "id": "c0b20409203eb9bc",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "5ed91827bacd6bf7",
        "name": "oneM2M resp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2580,
        "wires": []
    },
    {
        "id": "c9f1ca6ab1a7fe0c",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "1f351e80988039f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 2940,
        "wires": [
            [
                "8ff2996be1281bd9"
            ]
        ]
    },
    {
        "id": "8ff2996be1281bd9",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "1f351e80988039f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/aiQSr4877514467704506289\",\"op\":2,\"rvi\":\"3\",\"rqi\":\"1234562\",\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2940,
        "wires": [
            [
                "84d408ce4edd1b86",
                "ef6f8aea6215059a"
            ]
        ]
    },
    {
        "id": "84d408ce4edd1b86",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "1f351e80988039f5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 2940,
        "wires": []
    },
    {
        "id": "ef6f8aea6215059a",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "1f351e80988039f5",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3000,
        "wires": []
    },
    {
        "id": "832340a6aeeed870",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "bc720da80899c653",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1600,
        "wires": [
            [
                "9ed3f9914785d1e5"
            ]
        ]
    },
    {
        "id": "9ed3f9914785d1e5",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "bc720da80899c653",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/Caqm\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"m2m:grp\":{\"csy\":1,\"gn\":\"gractuator\",\"mid\":[\"binSh3284714513580707164\",\"binSh7547375194068347190\",\"binSh6583863286659219587\"],\"mnm\":10,\"mt\":3,\"rn\":\"gractuator\"}},\"ty\":9}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1600,
        "wires": [
            [
                "1d28ecc48bea3fa0",
                "51831d55f5f696db"
            ]
        ]
    },
    {
        "id": "1d28ecc48bea3fa0",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "bc720da80899c653",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 810,
        "y": 1600,
        "wires": []
    },
    {
        "id": "51831d55f5f696db",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "bc720da80899c653",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1660,
        "wires": []
    },
    {
        "id": "4e6e3c7f23ef87f9",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "2ba52b9c31117af5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "c19ff3b210427e4b"
            ]
        ]
    },
    {
        "id": "c19ff3b210427e4b",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "2ba52b9c31117af5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"id\":\"ab\",\"srn\":\"as\",\"pc\":{\"m2m:acp\":{\"pv\":{\"acr\":[{\"acor\":[\"aid\"],\"acop\":63},{\"acor\":[\"room99\"],\"acop\":63},{\"acor\":[\"room98\"],\"acop\":63},{\"acor\":[\"room1\"],\"acop\":63},{\"acor\":[\"room10\"],\"acop\":63},{\"acor\":[\"room2\"],\"acop\":63}]},\"pvs\":{\"acr\":[{\"acor\":[\"aid\"],\"acop\":63},{\"acor\":[\"room99\"],\"acop\":63},{\"acor\":[\"room98\"],\"acop\":63},{\"acor\":[\"room1\"],\"acop\":63},{\"acor\":[\"room10\"],\"acop\":63},{\"acor\":[\"room2\"],\"acop\":63}]},\"rn\":\"acr_room1\"}},\"ty\":1}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 40,
        "wires": [
            [
                "0cc49c9edc60702b",
                "12f80edf6b09b031"
            ]
        ]
    },
    {
        "id": "0cc49c9edc60702b",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "2ba52b9c31117af5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "12f80edf6b09b031",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "2ba52b9c31117af5",
        "name": "create container",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "0ca0550491d94692",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "894513dab3ef2f98",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 3140,
        "wires": [
            [
                "4f78ed823db520b4"
            ]
        ]
    },
    {
        "id": "4f78ed823db520b4",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "894513dab3ef2f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"room99\",\"to\":\"/id-in/aiQSr4877514467704506289\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:aiQSr\":{\"co2\":450,\"temp\":22.5,\"hum\":55}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 3140,
        "wires": [
            [
                "20a99cd7e909896c",
                "7353c857f5a386cb"
            ]
        ]
    },
    {
        "id": "20a99cd7e909896c",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "894513dab3ef2f98",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 3140,
        "wires": []
    },
    {
        "id": "7353c857f5a386cb",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "894513dab3ef2f98",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3200,
        "wires": []
    },
    {
        "id": "3a316f34b5129bce",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1770,
        "y": 2480,
        "wires": []
    },
    {
        "id": "912a9441dc199009",
        "type": "comment",
        "z": "2f3571e7cf8bcd73",
        "name": "Turn LED1 on/off via toggle in UI (and send into CSE)",
        "info": "",
        "x": 1380,
        "y": 2280,
        "wires": []
    },
    {
        "id": "42ef44547d7d50be",
        "type": "ui_switch",
        "z": "2f3571e7cf8bcd73",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "9c6ad719d03b2904",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1170,
        "y": 2340,
        "wires": [
            [
                "43aa061b260cd3c9"
            ]
        ]
    },
    {
        "id": "72b46fd334e3c451",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 2540,
        "wires": []
    },
    {
        "id": "43aa061b260cd3c9",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "led",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 2340,
        "wires": [
            [
                "ba9c59d1c7654120"
            ]
        ]
    },
    {
        "id": "ba9c59d1c7654120",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/led/status\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":true}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 2340,
        "wires": [
            [
                "22fcee9c6558700e"
            ]
        ]
    },
    {
        "id": "f2a3994943271839",
        "type": "function",
        "z": "2f3571e7cf8bcd73",
        "name": "function 4",
        "func": "if (msg.led == \"1\"){\n    \n    msg.payload.pc.powSe = true\n    \n} else if (msg.led==\"0\")\n{\n    \n    msg.payload.pc.powSe = false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 2420,
        "wires": [
            [
                "9a2cadb7ba43cefd"
            ]
        ]
    },
    {
        "id": "22fcee9c6558700e",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.pc.cod:binSh.powSe",
                "pt": "msg",
                "to": "payload.pc.powSe",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.pc.cod:binSh.powSe",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2420,
        "wires": [
            [
                "f2a3994943271839"
            ]
        ]
    },
    {
        "id": "9a2cadb7ba43cefd",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.pc.powSe",
                "pt": "msg",
                "to": "payload.pc.cod:binSh.powSe",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 2480,
        "wires": [
            [
                "72b46fd334e3c451",
                "3a316f34b5129bce"
            ]
        ]
    },
    {
        "id": "0ed8aeadacd33f89",
        "type": "switch",
        "z": "2f3571e7cf8bcd73",
        "g": "55631cad25c5797d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 2700,
        "wires": [
            [
                "14af92362d43dfaf",
                "99893ff6c02c546d"
            ],
            [
                "c36c8cd2f92f78be"
            ]
        ]
    },
    {
        "id": "c36c8cd2f92f78be",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "55631cad25c5797d",
        "name": "convert to zigbee false",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2800,
        "wires": []
    },
    {
        "id": "e20d44e744593fe7",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "cf49042e3cd3a8db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "292a3eaa59eb46dd"
            ]
        ]
    },
    {
        "id": "292a3eaa59eb46dd",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "cf49042e3cd3a8db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/actuator/status\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 520,
        "wires": [
            [
                "aa6a74c73ed1377b"
            ]
        ]
    },
    {
        "id": "aa6a74c73ed1377b",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "cf49042e3cd3a8db",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1490,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b3de641e47a2d33",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "fb5a3867f66d1c4b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1140,
        "y": 620,
        "wires": [
            [
                "aacf89ce32322f88"
            ]
        ]
    },
    {
        "id": "aacf89ce32322f88",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "fb5a3867f66d1c4b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/actuator/status\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":true}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "e49e456d5ee51b87"
            ]
        ]
    },
    {
        "id": "e49e456d5ee51b87",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "fb5a3867f66d1c4b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1490,
        "y": 620,
        "wires": []
    },
    {
        "id": "2b41c3069a173bde",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "5a5076c06bbee044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1060,
        "y": 900,
        "wires": [
            [
                "bac40525ca3bf133"
            ]
        ]
    },
    {
        "id": "bac40525ca3bf133",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "5a5076c06bbee044",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"cse-in/airQualityMonitoring/room99/sensor/value\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:aiQSr\":{\"co2\":450,\"temp\":26.5,\"hum\":58.9}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 900,
        "wires": [
            [
                "3f2a5f44a683c1fe"
            ]
        ]
    },
    {
        "id": "3f2a5f44a683c1fe",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "5a5076c06bbee044",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1410,
        "y": 900,
        "wires": []
    },
    {
        "id": "4f57cba19408e93d",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "f5e78fbfcd07fc36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1120,
        "y": 40,
        "wires": [
            [
                "b09c025c07da7695"
            ]
        ]
    },
    {
        "id": "b09c025c07da7695",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "f5e78fbfcd07fc36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"id\":\"ab\",\"srn\":\"as\",\"pc\":{\"m2m:acp\":{\"pv\":{\"acr\":[{\"acor\":[\"aid\"],\"acop\":63},{\"acor\":[\"room99\"],\"acop\":63},{\"acor\":[\"room98\"],\"acop\":63},{\"acor\":[\"room1\"],\"acop\":63},{\"acor\":[\"room10\"],\"acop\":63},{\"acor\":[\"room2\"],\"acop\":63}]},\"pvs\":{\"acr\":[{\"acor\":[\"aid\"],\"acop\":63},{\"acor\":[\"room99\"],\"acop\":63},{\"acor\":[\"room98\"],\"acop\":63},{\"acor\":[\"room1\"],\"acop\":63},{\"acor\":[\"room10\"],\"acop\":63},{\"acor\":[\"room2\"],\"acop\":63}]},\"rn\":\"acr_admin\"}},\"ty\":1}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 40,
        "wires": [
            [
                "36d63048afe93cbc",
                "c69dab92a281bdfd"
            ]
        ]
    },
    {
        "id": "36d63048afe93cbc",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "f5e78fbfcd07fc36",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1650,
        "y": 40,
        "wires": []
    },
    {
        "id": "c69dab92a281bdfd",
        "type": "debug",
        "z": "2f3571e7cf8bcd73",
        "g": "f5e78fbfcd07fc36",
        "name": "create container",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 80,
        "wires": []
    },
    {
        "id": "147832841b620c3d",
        "type": "function",
        "z": "2f3571e7cf8bcd73",
        "name": "functions",
        "func": "var binSh = msg.payload.binSh;\nvar coSLd = msg.payload.coSLd;\nvar aiQSr = msg.payload.aiQsr;\nvar binSh_ri_led2 = \"binSh1157307443041598506\";\nvar coSld_ri_led2 = \"coSLd4567033542943111575\";\nvar binSh_ri_led1 = \"binShled1\";\nvar coSld_ri_led1 = \"coSLdled1\";\nvar binSh_ri_actuator1 = \"binSh8568077017303683669\";\nvar binSh_ri_actuator2 = \"binShact2\";\nmsg.payload={};\n\n\n   /* if (binSh.ri === binSh_ri_led2) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n            msg.topic = \"zigbee2mqtt/led2/set\"\n        } else\n            msg.payload.state = \"off\"\n            msg.topic = \"zigbee2mqtt/led2/set\"\n    }*/\n    if (binSh.ri === binSh_ri_led2) {\n        if (binSh.powSe === true) \n            msg.payload = true\n         else\n            msg.payload = false\n            \n    }\n    /*if (binSh.ri === binSh_ri_actuator1) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n            msg.topic = \"zigbee2mqtt/actuator1/set\"\n        } else\n            msg.payload.state = \"off\"\n            msg.topic = \"zigbee2mqtt/actuator1/set\"\n    }\n    if (binSh.ri === binSh_ri_actuator2) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n            msg.topic = \"zigbee2mqtt/actuator2/set\"\n        } else\n            msg.payload.state = \"off\"\n            msg.topic = \"zigbee2mqtt/actuator2/set\"\n    }*/\n\n\n/*if (coSLd) {\n    if (coSLd.ri === coSld_ri_led2) {\n        msg.payload.color = {}\n        msg.payload.color.hue = coSLd.hue\n        msg.payload.color.saturation = coSLd.sat\n        msg.payload.color.x = coSLd.x\n        msg.payload.color.y = coSLd.y\n        msg.payload.color_temp = coSLd.colT\n        msg.topic = \"zigbee2mqtt/led2/set\"\n    }\n    if (coSLd.ri === coSld_ri_led1) {\n        msg.payload.color = {}\n        msg.payload.color.hue = coSLd.hue\n        msg.payload.color.saturation = coSLd.sat\n        msg.payload.color.x = coSLd.x\n        msg.payload.color.y = coSLd.y\n        msg.payload.color_temp = coSLd.colT\n        msg.topic = \"zigbee2mqtt/led1/set\"\n    }\n}*/\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 2540,
        "wires": [
            [
                "42ef44547d7d50be"
            ]
        ]
    },
    {
        "id": "7523eb8d853f729e",
        "type": "comment",
        "z": "2f3571e7cf8bcd73",
        "name": "Change status of toogle in UI when value ui when state in cse changes",
        "info": "",
        "x": 930,
        "y": 2500,
        "wires": []
    },
    {
        "id": "6af10f7ca0a89501",
        "type": "inject",
        "z": "2f3571e7cf8bcd73",
        "g": "8df2be8e8cead86a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "763a875e12b9d8d3"
            ]
        ]
    },
    {
        "id": "763a875e12b9d8d3",
        "type": "change",
        "z": "2f3571e7cf8bcd73",
        "g": "8df2be8e8cead86a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"room99\",\"to\":\"cse-in/airQualityMonitoring/room99/sensor/value\",\"op\":2,\"rvi\":\"3\",\"rqi\":\"1234562\",\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 800,
        "wires": [
            [
                "49508e14c4a8020b"
            ]
        ]
    },
    {
        "id": "49508e14c4a8020b",
        "type": "mqtt out",
        "z": "2f3571e7cf8bcd73",
        "g": "8df2be8e8cead86a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1590,
        "y": 800,
        "wires": []
    },
    {
        "id": "7d109e158f357676",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "54fb6980721a7449",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9c6ad719d03b2904",
        "type": "ui_group",
        "name": "Control",
        "tab": "66b09cf46568e77d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54fb6980721a7449",
        "type": "tls-config",
        "name": "MIO_AID",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "mio_aid.crt",
        "keyname": "mio_aid.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "66b09cf46568e77d",
        "type": "ui_tab",
        "name": "AirQualityMonitoring",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]