Documentation/nodered_flows.json
[
    {
        "id": "4ec5765e7a9cf406",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8a9470d5a78f2ee",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "name": "Create container \"room\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "215a97cf4b4bdbea",
            "9bcf787b3bbe8784",
            "a588813aaa2d9ec7",
            "74ef48a0cfeb5915"
        ],
        "x": 194,
        "y": 139,
        "w": 792,
        "h": 142
    },
    {
        "id": "d43adde98b81c573",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "name": "devAir",
        "style": {
            "label": true
        },
        "nodes": [
            "5eb66bf3656371d5",
            "a1720eb7b6e0051d"
        ],
        "x": 168,
        "y": 893,
        "w": 864,
        "h": 354
    },
    {
        "id": "70672c6c5127d9b7",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "name": "devAct",
        "style": {
            "label": true
        },
        "nodes": [
            "f3e2a1b2c3103e42",
            "f42c4ec5e9aba0ac",
            "59ae5f3167420633",
            "4882dba9061e02d3",
            "2066629e0937521b"
        ],
        "x": 168,
        "y": 299,
        "w": 864,
        "h": 568
    },
    {
        "id": "72cf3830c43d6515",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "name": "devSd",
        "style": {
            "label": true
        },
        "nodes": [
            "d9f9656b915bf551",
            "1868f0afd52c920c",
            "1999a68221cef105",
            "1fb241a9d5812b26",
            "f3f9735f07ac313d"
        ],
        "x": 168,
        "y": 1293,
        "w": 864,
        "h": 834
    },
    {
        "id": "ecfb55e84c7e75ab",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "002bde3dd3eced2d",
        "name": "Update flexcontainer \"actuator/binSh\" OFF",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "c063b5972b0958a9",
            "43da13929f41cd0e",
            "8b2e7d66aa075e31",
            "a930b8094774d3e9"
        ],
        "x": 194,
        "y": 2199,
        "w": 532,
        "h": 142
    },
    {
        "id": "6d4ac6a299f58b3b",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "002bde3dd3eced2d",
        "name": "Update flexcontainer \"actuator/binSh\" ON",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "6b6c6379a1a60943",
            "b7338f77ad882892",
            "d32259cc55be8d51",
            "99dc931d449d05e3"
        ],
        "x": 194,
        "y": 2359,
        "w": 532,
        "h": 142
    },
    {
        "id": "f42c4ec5e9aba0ac",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "70672c6c5127d9b7",
        "name": "Create flexcontainer \"actuator\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "b077c190f160b95e",
            "2a231564899b7dd0",
            "bf5c5ac5b0745bc5",
            "1dfa93d77daff1a6"
        ],
        "x": 194,
        "y": 379,
        "w": 812,
        "h": 142
    },
    {
        "id": "59ae5f3167420633",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "70672c6c5127d9b7",
        "name": "Create flexcontainer \"actuator/binSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "1a36d5e1e9221bd6",
            "dc4ed5a23c7ae4bf",
            "f03b1a2454f93103",
            "9bf2461b24ac5eed"
        ],
        "x": 194,
        "y": 539,
        "w": 812,
        "h": 142
    },
    {
        "id": "4882dba9061e02d3",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "70672c6c5127d9b7",
        "name": "Create flexcontainer \"actuator/sigSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "0e6c701648c213f5",
            "e5cc845e7c114bb0",
            "09379b0931eded6c",
            "5100b87ab272eeda"
        ],
        "x": 194,
        "y": 699,
        "w": 812,
        "h": 142
    },
    {
        "id": "5eb66bf3656371d5",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d43adde98b81c573",
        "name": "Create flexcontainer \"devAir\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "4f1dd9841b3bec5d",
            "395fc0594d0cf6b4",
            "e7489de723dc1825",
            "a174bf819f8160c0"
        ],
        "x": 194,
        "y": 919,
        "w": 812,
        "h": 142
    },
    {
        "id": "a1720eb7b6e0051d",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d43adde98b81c573",
        "name": "Create flexcontainer \"devAir/aiQSr\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "5b0f8c6d49cd9fbf",
            "f97c343707030ae7",
            "2013aef8373a8db9",
            "0cdd94570a5551a9"
        ],
        "x": 194,
        "y": 1079,
        "w": 812,
        "h": 142
    },
    {
        "id": "d9f9656b915bf551",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "72cf3830c43d6515",
        "name": "Create flexcontainer \"devSd\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "5a8c0f05a3c7b622",
            "92429e032c0cb92d",
            "2872faac1451acb8",
            "b4f0fbb4b5af82ea"
        ],
        "x": 194,
        "y": 1319,
        "w": 812,
        "h": 142
    },
    {
        "id": "1868f0afd52c920c",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "72cf3830c43d6515",
        "name": "Create flexcontainer \"devSd/coSLd\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "90fa2dc3bbe771d2",
            "143de286d20b71b4",
            "19bf3bbed4a6e7da",
            "9c6e055f77864316"
        ],
        "x": 194,
        "y": 1479,
        "w": 812,
        "h": 142
    },
    {
        "id": "1999a68221cef105",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "72cf3830c43d6515",
        "name": "Create flexcontainer \"devSd/binSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "733e1f19efb7ca21",
            "6e3d50998014d1f9",
            "346c349cade7a219",
            "77a4a0e0a136d305"
        ],
        "x": 194,
        "y": 1639,
        "w": 812,
        "h": 142
    },
    {
        "id": "1fb241a9d5812b26",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "72cf3830c43d6515",
        "name": "Create flexcontainer \"devSd/brigs\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "54cb8eb2a1c2527b",
            "c95cf6c781baed21",
            "c3513727add8a2bc",
            "81239a49f33f2ceb"
        ],
        "x": 194,
        "y": 1799,
        "w": 812,
        "h": 142
    },
    {
        "id": "f3f9735f07ac313d",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "72cf3830c43d6515",
        "name": "Create flexcontainer \"devSd/sigSh\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "11311742d1b916e0",
            "a129d8c3a1c25f00",
            "7eca0d39995e6b20",
            "b069f073c521a9d6"
        ],
        "x": 194,
        "y": 1959,
        "w": 812,
        "h": 142
    },
    {
        "id": "aea4d00eb4cc6ed3",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d7c5c77e9d94ce1c",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to RED",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "90ece097f65ee261",
            "7c1bf10a50932dcb",
            "a8afe8e2b1c45f13",
            "7fb52be00f83c874"
        ],
        "x": 174,
        "y": 2579,
        "w": 532,
        "h": 142
    },
    {
        "id": "5a7c3b328a7a46eb",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d7c5c77e9d94ce1c",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to ORANGE",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "d75330c6756182e1",
            "6ee58f579ed26ad4",
            "50dea3e6651a346b",
            "8502eb97564404cf"
        ],
        "x": 734,
        "y": 2579,
        "w": 532,
        "h": 142
    },
    {
        "id": "347316b4acbc3514",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d7c5c77e9d94ce1c",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to YELLOW",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "1ac395016c483e8c",
            "9e751f5db67c751f",
            "2e517d1e52cfe40d",
            "b8c7a320dbd71b1e"
        ],
        "x": 174,
        "y": 2739,
        "w": 532,
        "h": 142
    },
    {
        "id": "5ac471a56faeadbb",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d7c5c77e9d94ce1c",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to LIGHT GREEN",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "93a6e78049485f76",
            "c043729e3b27dda7",
            "63d3ea3facc2965b",
            "5798582a9f552c66"
        ],
        "x": 734,
        "y": 2739,
        "w": 532,
        "h": 142
    },
    {
        "id": "c2b6ebf706877301",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d7c5c77e9d94ce1c",
        "name": "Update color: flexcontainer \"devSd/coSLd\" to DARK GREEN",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "a64b8d8230e32442",
            "237a74fde047f8e5",
            "155ba6feafc08cd5",
            "c8eaf99bb71f4ac5"
        ],
        "x": 174,
        "y": 2899,
        "w": 532,
        "h": 142
    },
    {
        "id": "102b2f81f59ebb3c",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "1b9a43094bd12c17",
        "name": "Translation for LED oneM2M to Zigbee",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "f1652a0fb591796a",
            "61b3f10f7fb3fb4f",
            "34a18ae14ba175ee",
            "ed40778d8282cebb",
            "f5262fd014665218",
            "a45e3bd38055ce9d",
            "9009414f87661cf4",
            "9f0a9daa7259f83d"
        ],
        "x": 174,
        "y": 3279,
        "w": 1072,
        "h": 182
    },
    {
        "id": "e29e7eb9da9a053e",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d7c5c77e9d94ce1c",
        "name": "Update flexcontainer \"devSd/binSh\" OFF",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "817c9f4720aed8a2",
            "f40df6243c37c4f2",
            "322a0115750623da",
            "f5ceb3c27fcaea9f"
        ],
        "x": 174,
        "y": 3059,
        "w": 532,
        "h": 142
    },
    {
        "id": "9e500606249d4086",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d7c5c77e9d94ce1c",
        "name": "Update flexcontainer \"devSd/binSh\" ON",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "b3d7e248f04ceb96",
            "a10d41b3d40634fb",
            "e76749fb0a66cbbd",
            "afd4fa752f5adbdd"
        ],
        "x": 734,
        "y": 3059,
        "w": 532,
        "h": 142
    },
    {
        "id": "dfa6d9724bb31b3d",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "1b9a43094bd12c17",
        "name": "Translation for Actuator oneM2M to Zigbee",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "8dc0598971f1559c",
            "2b619cb5129fb4b3",
            "0aefe37e8c0efc1e",
            "8dd51c8b540fba9b",
            "afb00258209bcd1f",
            "f5663ca3df1ff7d8",
            "8b453ae194844813"
        ],
        "x": 174,
        "y": 3479,
        "w": 1072,
        "h": 222
    },
    {
        "id": "d8ad1779bc3e5e1a",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "name": "devAir",
        "style": {
            "label": true
        },
        "nodes": [
            "895b5bc7b4cf703d",
            "944e47fb19c92843"
        ],
        "x": 148,
        "y": 3753,
        "w": 864,
        "h": 354
    },
    {
        "id": "895b5bc7b4cf703d",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d8ad1779bc3e5e1a",
        "name": "Retrieve flexcontainer \"devAir\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "bcae1cb4af85817f",
            "2470e70e5eb15f4d",
            "847070da218bbe5e",
            "4baa68367a84b52e"
        ],
        "x": 174,
        "y": 3779,
        "w": 812,
        "h": 142
    },
    {
        "id": "944e47fb19c92843",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "g": "d8ad1779bc3e5e1a",
        "name": "Retrieve flexcontainer \"devAir/aiQSr\"",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "068ad3f952ae8a94",
            "1ad4fd95b83483bc",
            "2b366499bdd65bab",
            "d9c294589f20c654"
        ],
        "x": 174,
        "y": 3939,
        "w": 812,
        "h": 142
    },
    {
        "id": "1b9a43094bd12c17",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "102b2f81f59ebb3c",
            "dfa6d9724bb31b3d"
        ],
        "x": 148,
        "y": 3253,
        "w": 1124,
        "h": 474
    },
    {
        "id": "d7c5c77e9d94ce1c",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "aea4d00eb4cc6ed3",
            "5a7c3b328a7a46eb",
            "347316b4acbc3514",
            "5ac471a56faeadbb",
            "c2b6ebf706877301",
            "e29e7eb9da9a053e",
            "9e500606249d4086"
        ],
        "x": 148,
        "y": 2553,
        "w": 1144,
        "h": 674
    },
    {
        "id": "002bde3dd3eced2d",
        "type": "group",
        "z": "4ec5765e7a9cf406",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ecfb55e84c7e75ab",
            "6d4ac6a299f58b3b"
        ],
        "x": 168,
        "y": 2173,
        "w": 584,
        "h": 354
    },
    {
        "id": "215a97cf4b4bdbea",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "e8a9470d5a78f2ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "9bcf787b3bbe8784"
            ]
        ]
    },
    {
        "id": "9bcf787b3bbe8784",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "e8a9470d5a78f2ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/Caqm\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"id\":\"ab\",\"srn\":\"as\",\"pc\":{\"m2m:cnt\":{\"rn\":\"room2\"}},\"ty\":3}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "a588813aaa2d9ec7",
                "74ef48a0cfeb5915"
            ]
        ]
    },
    {
        "id": "a588813aaa2d9ec7",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "e8a9470d5a78f2ee",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "74ef48a0cfeb5915",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "e8a9470d5a78f2ee",
        "name": "create container",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "b077c190f160b95e",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "f42c4ec5e9aba0ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "2a231564899b7dd0"
            ]
        ]
    },
    {
        "id": "2a231564899b7dd0",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "f42c4ec5e9aba0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/cnt3964904465938805442\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:devAct\":{\"cnd\":\"org.fhtwmio.common.device.mioDeviceActuator\",\"rn\":\"actuator10\"}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "bf5c5ac5b0745bc5",
                "1dfa93d77daff1a6"
            ]
        ]
    },
    {
        "id": "bf5c5ac5b0745bc5",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "f42c4ec5e9aba0ac",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "1dfa93d77daff1a6",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "f42c4ec5e9aba0ac",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "f7d2ce024538514f",
        "type": "mqtt in",
        "z": "4ec5765e7a9cf406",
        "name": "",
        "topic": "/oneM2M/req/+/id-in/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d109e158f357676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 2320,
        "wires": [
            [
                "60529fee1094f854"
            ]
        ]
    },
    {
        "id": "60529fee1094f854",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "name": "oneM2M req",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 2320,
        "wires": []
    },
    {
        "id": "1a36d5e1e9221bd6",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "59ae5f3167420633",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 580,
        "wires": [
            [
                "dc4ed5a23c7ae4bf"
            ]
        ]
    },
    {
        "id": "dc4ed5a23c7ae4bf",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "59ae5f3167420633",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devAct1643353698135648057\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"cnd\":\"org.onem2m.common.moduleclass.binarySwitch\",\"rn\":\"status\",\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "f03b1a2454f93103",
                "9bf2461b24ac5eed"
            ]
        ]
    },
    {
        "id": "f03b1a2454f93103",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "59ae5f3167420633",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "9bf2461b24ac5eed",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "59ae5f3167420633",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "0e6c701648c213f5",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "4882dba9061e02d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 740,
        "wires": [
            [
                "e5cc845e7c114bb0"
            ]
        ]
    },
    {
        "id": "e5cc845e7c114bb0",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "4882dba9061e02d3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devAct1643353698135648057\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:sigSh\":{\"cnd\":\"org.onem2m.common.moduleclass.signalStrength\",\"rn\":\"lqi\",\"lqi\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 740,
        "wires": [
            [
                "09379b0931eded6c",
                "5100b87ab272eeda"
            ]
        ]
    },
    {
        "id": "09379b0931eded6c",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "4882dba9061e02d3",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "5100b87ab272eeda",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "4882dba9061e02d3",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 800,
        "wires": []
    },
    {
        "id": "f3e2a1b2c3103e42",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "g": "70672c6c5127d9b7",
        "name": "oneM2M TS-0004: \"Service Layer Core Protocol Specification\".",
        "info": "Die nötigen parameter für diese requeste stehen im dokument TS0004",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "2066629e0937521b",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "g": "70672c6c5127d9b7",
        "name": "dokument ts0003 hat uns auf dokument ts0004 hingewiesen",
        "info": "",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "4f1dd9841b3bec5d",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "5eb66bf3656371d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 960,
        "wires": [
            [
                "395fc0594d0cf6b4"
            ]
        ]
    },
    {
        "id": "395fc0594d0cf6b4",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "5eb66bf3656371d5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/cnt8080283137055517832\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:devAir\":{\"cnd\":\"org.fhtwmio.common.device.mioDeviceAirQualitySensor\",\"rn\":\"sensor\"}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 960,
        "wires": [
            [
                "e7489de723dc1825",
                "a174bf819f8160c0"
            ]
        ]
    },
    {
        "id": "e7489de723dc1825",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "5eb66bf3656371d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 960,
        "wires": []
    },
    {
        "id": "a174bf819f8160c0",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "5eb66bf3656371d5",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5b0f8c6d49cd9fbf",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "a1720eb7b6e0051d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1120,
        "wires": [
            [
                "f97c343707030ae7"
            ]
        ]
    },
    {
        "id": "f97c343707030ae7",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "a1720eb7b6e0051d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devAir3903728736942862961\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:aiQSr\":{\"cnd\":\"org.fhtwmio.common.moduleclass.mioAirqualitySensor\",\"rn\":\"sensor\",\"co2\":0,\"temp\":0,\"hum\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1120,
        "wires": [
            [
                "2013aef8373a8db9",
                "0cdd94570a5551a9"
            ]
        ]
    },
    {
        "id": "2013aef8373a8db9",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "a1720eb7b6e0051d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0cdd94570a5551a9",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "a1720eb7b6e0051d",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5a8c0f05a3c7b622",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "d9f9656b915bf551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1360,
        "wires": [
            [
                "92429e032c0cb92d"
            ]
        ]
    },
    {
        "id": "92429e032c0cb92d",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "d9f9656b915bf551",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/cnt3964904465938805442\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:devSd\":{\"cnd\":\"org.fhtwmio.common.device.mioDeviceSmartLed\",\"rn\":\"led\"}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1360,
        "wires": [
            [
                "2872faac1451acb8",
                "b4f0fbb4b5af82ea"
            ]
        ]
    },
    {
        "id": "2872faac1451acb8",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "d9f9656b915bf551",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b4f0fbb4b5af82ea",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "d9f9656b915bf551",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1420,
        "wires": []
    },
    {
        "id": "90fa2dc3bbe771d2",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "1868f0afd52c920c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1520,
        "wires": [
            [
                "143de286d20b71b4"
            ]
        ]
    },
    {
        "id": "143de286d20b71b4",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "1868f0afd52c920c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd7586723772897507633\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"cnd\":\"org.fhtwmio.common.moduleclass.mioColorSmartLed\",\"rn\":\"color\",\"hue\":0,\"sat\":0,\"x\":0,\"y\":0,\"colT\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1520,
        "wires": [
            [
                "19bf3bbed4a6e7da",
                "9c6e055f77864316"
            ]
        ]
    },
    {
        "id": "19bf3bbed4a6e7da",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "1868f0afd52c920c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9c6e055f77864316",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "1868f0afd52c920c",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1580,
        "wires": []
    },
    {
        "id": "733e1f19efb7ca21",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "1999a68221cef105",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1680,
        "wires": [
            [
                "6e3d50998014d1f9"
            ]
        ]
    },
    {
        "id": "6e3d50998014d1f9",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "1999a68221cef105",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd7586723772897507633\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"cnd\":\"org.onem2m.common.moduleclass.binarySwitch\",\"rn\":\"status\",\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1680,
        "wires": [
            [
                "346c349cade7a219",
                "77a4a0e0a136d305"
            ]
        ]
    },
    {
        "id": "346c349cade7a219",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "1999a68221cef105",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1680,
        "wires": []
    },
    {
        "id": "77a4a0e0a136d305",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "1999a68221cef105",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1740,
        "wires": []
    },
    {
        "id": "54cb8eb2a1c2527b",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "1fb241a9d5812b26",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1840,
        "wires": [
            [
                "c95cf6c781baed21"
            ]
        ]
    },
    {
        "id": "c95cf6c781baed21",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "1fb241a9d5812b26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd7586723772897507633\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:brigs\":{\"cnd\":\"org.onem2m.common.moduleclass.brightness\",\"rn\":\"brightness\",\"brigs\":254}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1840,
        "wires": [
            [
                "c3513727add8a2bc",
                "81239a49f33f2ceb"
            ]
        ]
    },
    {
        "id": "c3513727add8a2bc",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "1fb241a9d5812b26",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 1840,
        "wires": []
    },
    {
        "id": "81239a49f33f2ceb",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "1fb241a9d5812b26",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1900,
        "wires": []
    },
    {
        "id": "11311742d1b916e0",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "f3f9735f07ac313d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 2000,
        "wires": [
            [
                "a129d8c3a1c25f00"
            ]
        ]
    },
    {
        "id": "a129d8c3a1c25f00",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "f3f9735f07ac313d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devSd7586723772897507633\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:sigSh\":{\"cnd\":\"org.onem2m.common.moduleclass.signalStrength\",\"rn\":\"lqi\",\"lqi\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2000,
        "wires": [
            [
                "7eca0d39995e6b20",
                "b069f073c521a9d6"
            ]
        ]
    },
    {
        "id": "7eca0d39995e6b20",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "f3f9735f07ac313d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 830,
        "y": 2000,
        "wires": []
    },
    {
        "id": "b069f073c521a9d6",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "f3f9735f07ac313d",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 2060,
        "wires": []
    },
    {
        "id": "8db95b40e07aaa11",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "color",
        "info": "{\n    \"mio:coSLd\": {\n        \"hue\": 10,\n        \"sat\": 20,\n        \"x\": 0.123,\n        \"y\": 0.456,\n        \"colT\": 0    }\n}",
        "x": 90,
        "y": 2580,
        "wires": []
    },
    {
        "id": "0f7b2a631607a529",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "Wichtig für updates",
        "info": "bei einem update MUSS der parameter pi aus der cse ausgelesen werden!\ndevSd7586723772897507633",
        "x": 90,
        "y": 2200,
        "wires": []
    },
    {
        "id": "c063b5972b0958a9",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "ecfb55e84c7e75ab",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 2240,
        "wires": [
            [
                "43da13929f41cd0e"
            ]
        ]
    },
    {
        "id": "43da13929f41cd0e",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "ecfb55e84c7e75ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/binSh7547375194068347190\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2240,
        "wires": [
            [
                "8b2e7d66aa075e31",
                "a930b8094774d3e9"
            ]
        ]
    },
    {
        "id": "8b2e7d66aa075e31",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "ecfb55e84c7e75ab",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 650,
        "y": 2240,
        "wires": []
    },
    {
        "id": "a930b8094774d3e9",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "ecfb55e84c7e75ab",
        "name": "update flexcontainer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2300,
        "wires": []
    },
    {
        "id": "6b6c6379a1a60943",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "6d4ac6a299f58b3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 2400,
        "wires": [
            [
                "b7338f77ad882892"
            ]
        ]
    },
    {
        "id": "b7338f77ad882892",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "6d4ac6a299f58b3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/binSh7547375194068347190\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":true}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2400,
        "wires": [
            [
                "d32259cc55be8d51",
                "99dc931d449d05e3"
            ]
        ]
    },
    {
        "id": "d32259cc55be8d51",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "6d4ac6a299f58b3b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 650,
        "y": 2400,
        "wires": []
    },
    {
        "id": "99dc931d449d05e3",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "6d4ac6a299f58b3b",
        "name": "update flexcontainer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2460,
        "wires": []
    },
    {
        "id": "b6f886adb1fa4e19",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "Smartled",
        "info": "",
        "x": 60,
        "y": 1360,
        "wires": []
    },
    {
        "id": "91bad379b29af261",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "Color",
        "info": "",
        "x": 50,
        "y": 1540,
        "wires": []
    },
    {
        "id": "2ad36b0aa2b3c7f4",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "status",
        "info": "",
        "x": 70,
        "y": 1700,
        "wires": []
    },
    {
        "id": "35d3f017b6207d2f",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "brightness",
        "info": "",
        "x": 80,
        "y": 1860,
        "wires": []
    },
    {
        "id": "e715f15f9c62be11",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "signalstrenght",
        "info": "",
        "x": 90,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f77d6f8ceb57b97c",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "aktuator status",
        "info": "",
        "x": 80,
        "y": 2240,
        "wires": []
    },
    {
        "id": "9345939dd9574867",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "create a room",
        "info": "",
        "x": 90,
        "y": 180,
        "wires": []
    },
    {
        "id": "b3ec2e48523482f4",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "actuator",
        "info": "",
        "x": 80,
        "y": 420,
        "wires": []
    },
    {
        "id": "622c395857c7fbf8",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "status",
        "info": "",
        "x": 70,
        "y": 580,
        "wires": []
    },
    {
        "id": "82f1bb2323d94731",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "signal strenght",
        "info": "",
        "x": 100,
        "y": 780,
        "wires": []
    },
    {
        "id": "f4cae83b8dac5704",
        "type": "comment",
        "z": "4ec5765e7a9cf406",
        "name": "air quality values",
        "info": "",
        "x": 120,
        "y": 1140,
        "wires": []
    },
    {
        "id": "90ece097f65ee261",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "aea4d00eb4cc6ed3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 2620,
        "wires": [
            [
                "7c1bf10a50932dcb"
            ]
        ]
    },
    {
        "id": "7c1bf10a50932dcb",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "aea4d00eb4cc6ed3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/coSLd1963592044756188709\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":3,\"sat\":96,\"x\":0.6307692307692307,\"y\":0.3230769230769231,\"colT\":319}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2620,
        "wires": [
            [
                "a8afe8e2b1c45f13",
                "7fb52be00f83c874"
            ]
        ]
    },
    {
        "id": "a8afe8e2b1c45f13",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "aea4d00eb4cc6ed3",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 630,
        "y": 2620,
        "wires": []
    },
    {
        "id": "7fb52be00f83c874",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "aea4d00eb4cc6ed3",
        "name": "change flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2680,
        "wires": []
    },
    {
        "id": "d75330c6756182e1",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "5a7c3b328a7a46eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 2620,
        "wires": [
            [
                "6ee58f579ed26ad4"
            ]
        ]
    },
    {
        "id": "6ee58f579ed26ad4",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "5a7c3b328a7a46eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/coSLd1963592044756188709\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":12,\"sat\":97,\"x\":0.5945945945945946,\"y\":0.36486486486486486,\"colT\":454}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2620,
        "wires": [
            [
                "50dea3e6651a346b",
                "8502eb97564404cf"
            ]
        ]
    },
    {
        "id": "50dea3e6651a346b",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "5a7c3b328a7a46eb",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1190,
        "y": 2620,
        "wires": []
    },
    {
        "id": "8502eb97564404cf",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "5a7c3b328a7a46eb",
        "name": "change flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 2680,
        "wires": []
    },
    {
        "id": "1ac395016c483e8c",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "347316b4acbc3514",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 2780,
        "wires": [
            [
                "9e751f5db67c751f"
            ]
        ]
    },
    {
        "id": "9e751f5db67c751f",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "347316b4acbc3514",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/coSLd1963592044756188709\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":66,\"sat\":93,\"x\":0.41847826086956524,\"y\":0.5054347826086957,\"colT\":255}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2780,
        "wires": [
            [
                "2e517d1e52cfe40d",
                "b8c7a320dbd71b1e"
            ]
        ]
    },
    {
        "id": "2e517d1e52cfe40d",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "347316b4acbc3514",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 630,
        "y": 2780,
        "wires": []
    },
    {
        "id": "b8c7a320dbd71b1e",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "347316b4acbc3514",
        "name": "change flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2840,
        "wires": []
    },
    {
        "id": "93a6e78049485f76",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "5ac471a56faeadbb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 2780,
        "wires": [
            [
                "c043729e3b27dda7"
            ]
        ]
    },
    {
        "id": "c043729e3b27dda7",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "5ac471a56faeadbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/coSLd1963592044756188709\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":98,\"sat\":93,\"x\":0.3203125,\"y\":0.578125,\"colT\":250}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2780,
        "wires": [
            [
                "63d3ea3facc2965b",
                "5798582a9f552c66"
            ]
        ]
    },
    {
        "id": "63d3ea3facc2965b",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "5ac471a56faeadbb",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1190,
        "y": 2780,
        "wires": []
    },
    {
        "id": "5798582a9f552c66",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "5ac471a56faeadbb",
        "name": "change flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 2840,
        "wires": []
    },
    {
        "id": "a64b8d8230e32442",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "c2b6ebf706877301",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 2940,
        "wires": [
            [
                "237a74fde047f8e5"
            ]
        ]
    },
    {
        "id": "237a74fde047f8e5",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "c2b6ebf706877301",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/coSLd1963592044756188709\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:coSLd\":{\"hue\":104,\"sat\":93,\"x\":0.2962962962962963,\"y\":0.5925925925925926,\"colT\":250}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2940,
        "wires": [
            [
                "155ba6feafc08cd5",
                "c8eaf99bb71f4ac5"
            ]
        ]
    },
    {
        "id": "155ba6feafc08cd5",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "c2b6ebf706877301",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 630,
        "y": 2940,
        "wires": []
    },
    {
        "id": "c8eaf99bb71f4ac5",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "c2b6ebf706877301",
        "name": "change flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 3000,
        "wires": []
    },
    {
        "id": "f1652a0fb591796a",
        "type": "mqtt in",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "",
        "topic": "/oneM2M/resp/aqm/id-in/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d109e158f357676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 3320,
        "wires": [
            [
                "61b3f10f7fb3fb4f",
                "a45e3bd38055ce9d"
            ]
        ]
    },
    {
        "id": "61b3f10f7fb3fb4f",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "oneM2M resp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.pc",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 3420,
        "wires": []
    },
    {
        "id": "34a18ae14ba175ee",
        "type": "function",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "magic",
        "func": "var x = {};\nvar binSh = msg.payload.binSh;\nvar coSLd = msg.payload.coSLd;\nvar binSh_ri_led2 = \"binSh2412395353041276979\";\nvar coSld_ri_led2 = \"coSLd1963592044756188709\";\nmsg.payload.color = {};\n\nif (binSh) {\n    if (binSh.ri === binSh_ri_led2) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n        } else\n            msg.payload.state = \"off\"\n    }\n}\nif (coSLd) {\n    if (coSLd.ri === coSld_ri_led2) {\n        msg.payload.color = {}\n        msg.payload.color.hue = coSLd.hue\n        msg.payload.color.saturation = coSLd.sat\n        msg.payload.color.x = coSLd.x\n        msg.payload.color.y = coSLd.y\n        msg.payload.color_temp = coSLd.colT\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 3320,
        "wires": [
            [
                "9f0a9daa7259f83d"
            ]
        ]
    },
    {
        "id": "ed40778d8282cebb",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "convert to zigbee",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 3320,
        "wires": []
    },
    {
        "id": "f5262fd014665218",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "led2",
        "topic": "zigbee2mqtt/led2/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1130,
        "y": 3400,
        "wires": []
    },
    {
        "id": "a45e3bd38055ce9d",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.pc.cod:binSh",
                "pt": "msg",
                "to": "payload.binSh",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.pc.mio:coSLd",
                "pt": "msg",
                "to": "payload.coSLd",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.pc",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 3320,
        "wires": [
            [
                "34a18ae14ba175ee",
                "9009414f87661cf4"
            ]
        ]
    },
    {
        "id": "817c9f4720aed8a2",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "e29e7eb9da9a053e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 3100,
        "wires": [
            [
                "f40df6243c37c4f2"
            ]
        ]
    },
    {
        "id": "f40df6243c37c4f2",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "e29e7eb9da9a053e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/binSh2412395353041276979\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":false}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 3100,
        "wires": [
            [
                "322a0115750623da",
                "f5ceb3c27fcaea9f"
            ]
        ]
    },
    {
        "id": "322a0115750623da",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "e29e7eb9da9a053e",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 630,
        "y": 3100,
        "wires": []
    },
    {
        "id": "f5ceb3c27fcaea9f",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "e29e7eb9da9a053e",
        "name": "update flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 3160,
        "wires": []
    },
    {
        "id": "b3d7e248f04ceb96",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "9e500606249d4086",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 3100,
        "wires": [
            [
                "a10d41b3d40634fb"
            ]
        ]
    },
    {
        "id": "a10d41b3d40634fb",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "9e500606249d4086",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/binSh2412395353041276979\",\"op\":3,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"cod:binSh\":{\"powSe\":true}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 3100,
        "wires": [
            [
                "e76749fb0a66cbbd",
                "afd4fa752f5adbdd"
            ]
        ]
    },
    {
        "id": "e76749fb0a66cbbd",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "9e500606249d4086",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1190,
        "y": 3100,
        "wires": []
    },
    {
        "id": "afd4fa752f5adbdd",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "9e500606249d4086",
        "name": "update flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 3160,
        "wires": []
    },
    {
        "id": "9009414f87661cf4",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "change oneM2M resp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 3420,
        "wires": []
    },
    {
        "id": "9f0a9daa7259f83d",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "102b2f81f59ebb3c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.fr",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.to",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.ot",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.rsc",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.rqi",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.rvi",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.coSLd",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.binSh",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3360,
        "wires": [
            [
                "f5262fd014665218",
                "ed40778d8282cebb"
            ]
        ]
    },
    {
        "id": "8dc0598971f1559c",
        "type": "mqtt in",
        "z": "4ec5765e7a9cf406",
        "g": "dfa6d9724bb31b3d",
        "name": "",
        "topic": "/oneM2M/resp/aqm/id-in/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d109e158f357676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 3560,
        "wires": [
            [
                "2b619cb5129fb4b3",
                "f5663ca3df1ff7d8"
            ]
        ]
    },
    {
        "id": "2b619cb5129fb4b3",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "dfa6d9724bb31b3d",
        "name": "oneM2M resp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.pc",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 3660,
        "wires": []
    },
    {
        "id": "0aefe37e8c0efc1e",
        "type": "function",
        "z": "4ec5765e7a9cf406",
        "g": "dfa6d9724bb31b3d",
        "name": "powSe to state",
        "func": "var x ={};\nvar binSh = msg.payload.binSh;\nvar binSh_ri_actuator1 = \"binSh7547375194068347190\"; \nmsg.payload = {};\n\nif (binSh) {\n    if (binSh.ri === binSh_ri_actuator1) {\n        if (binSh.powSe === true) {\n            msg.payload.state = \"on\"\n        } else\n            msg.payload.state = \"off\"\n    }\n} else return 0\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 3620,
        "wires": [
            [
                "8dd51c8b540fba9b",
                "8b453ae194844813"
            ]
        ]
    },
    {
        "id": "8dd51c8b540fba9b",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "dfa6d9724bb31b3d",
        "name": "convert to zigbee",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 3520,
        "wires": []
    },
    {
        "id": "afb00258209bcd1f",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "dfa6d9724bb31b3d",
        "name": "actuator1",
        "topic": "zigbee2mqtt/actuator1/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 1160,
        "y": 3580,
        "wires": []
    },
    {
        "id": "f5663ca3df1ff7d8",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "dfa6d9724bb31b3d",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.pc.cod:binSh",
                "pt": "msg",
                "to": "payload.binSh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 3560,
        "wires": [
            [
                "0aefe37e8c0efc1e"
            ]
        ]
    },
    {
        "id": "8b453ae194844813",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "dfa6d9724bb31b3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3640,
        "wires": [
            [
                "afb00258209bcd1f"
            ]
        ]
    },
    {
        "id": "cbb6dea934410395",
        "type": "mqtt in",
        "z": "4ec5765e7a9cf406",
        "name": "",
        "topic": "/oneM2M/resp/aqm/id-in/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d109e158f357676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 960,
        "y": 2400,
        "wires": [
            [
                "41c114f6bf73d922"
            ]
        ]
    },
    {
        "id": "41c114f6bf73d922",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "name": "oneM2M resp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 2400,
        "wires": []
    },
    {
        "id": "bcae1cb4af85817f",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "895b5bc7b4cf703d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 3820,
        "wires": [
            [
                "2470e70e5eb15f4d"
            ]
        ]
    },
    {
        "id": "2470e70e5eb15f4d",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "895b5bc7b4cf703d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devAir3903728736942862961\",\"op\":2,\"rvi\":\"3\",\"rqi\":\"1234562\",\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 3820,
        "wires": [
            [
                "847070da218bbe5e",
                "4baa68367a84b52e"
            ]
        ]
    },
    {
        "id": "847070da218bbe5e",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "895b5bc7b4cf703d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 810,
        "y": 3820,
        "wires": []
    },
    {
        "id": "4baa68367a84b52e",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "895b5bc7b4cf703d",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 3880,
        "wires": []
    },
    {
        "id": "068ad3f952ae8a94",
        "type": "inject",
        "z": "4ec5765e7a9cf406",
        "g": "944e47fb19c92843",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 3980,
        "wires": [
            [
                "1ad4fd95b83483bc"
            ]
        ]
    },
    {
        "id": "1ad4fd95b83483bc",
        "type": "change",
        "z": "4ec5765e7a9cf406",
        "g": "944e47fb19c92843",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fr\":\"aid\",\"to\":\"/id-in/devAir3903728736942862961\",\"op\":1,\"rvi\":\"3\",\"rqi\":\"1234562\",\"pc\":{\"mio:aiQSr\":{\"cnd\":\"org.fhtwmio.common.moduleclass.mioAirqualitySensor\",\"rn\":\"sensor\",\"co2\":0,\"temp\":0,\"hum\":0}},\"ty\":28}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/oneM2M/req/aqm/id-in/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 3980,
        "wires": [
            [
                "2b366499bdd65bab",
                "d9c294589f20c654"
            ]
        ]
    },
    {
        "id": "2b366499bdd65bab",
        "type": "mqtt out",
        "z": "4ec5765e7a9cf406",
        "g": "944e47fb19c92843",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d109e158f357676",
        "x": 810,
        "y": 3980,
        "wires": []
    },
    {
        "id": "d9c294589f20c654",
        "type": "debug",
        "z": "4ec5765e7a9cf406",
        "g": "944e47fb19c92843",
        "name": "create flexcontainer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 4040,
        "wires": []
    },
    {
        "id": "7d109e158f357676",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]